In [3]:
import pandas as pd

In [1]:
raw_data = catalog.load('raw_train')

[03/19/25 20:26:00] INFO     Loading data from raw_train (CSVDataset)...                        ]8;id=683321;file:///home/felipefg/.pyenv/versions/3.11.3/envs/25E1_3_311/lib/python3.11/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=858876;file:///home/felipefg/.pyenv/versions/3.11.3/envs/25E1_3_311/lib/python3.11/site-packages/kedro/io/data_catalog.py#390\390]8;;\

In [14]:
(
    raw_data
    [
        ['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
    ]
    .join(pd.get_dummies(raw_data['Sex'], prefix="Sex"))
    .join(pd.get_dummies(raw_data['Embarked'], prefix='Embarked'))
    .dropna()
    .assign(Survived=lambda x: x['Survived'].astype(bool))
)

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,False,3,22.0,1,0,7.2500,False,True,False,False,True
1,True,1,38.0,1,0,71.2833,True,False,True,False,False
2,True,3,26.0,0,0,7.9250,True,False,False,False,True
3,True,1,35.0,1,0,53.1000,True,False,False,False,True
4,False,3,35.0,0,0,8.0500,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
885,False,3,39.0,0,5,29.1250,True,False,False,True,False
886,False,2,27.0,0,0,13.0000,False,True,False,False,True
887,True,1,19.0,0,0,30.0000,True,False,False,False,True
889,True,1,26.0,0,0,30.0000,False,True,True,False,False
890,False,3,32.0,0,0,7.7500,False,True,False,True,False

In [6]:
pd.get_dummies(raw_data['Embarked'], prefix='Embarked')

     Embarked_C  Embarked_Q  Embarked_S
0         False       False        True
1          True       False       False
2         False       False        True
3         False       False        True
4         False       False        True
..          ...         ...         ...
886       False       False        True
887       False       False        True
888       False       False        True
889        True       False       False
890       False        True       False

[891 rows x 3 columns]

In [5]:
pd.get_dummies(raw_data['Sex'], prefix="Sex")

     Sex_female  Sex_male
0         False      True
1          True     False
2          True     False
3          True     False
4         False      True
..          ...       ...
886       False      True
887        True     False
888        True     False
889       False      True
890       False      True

[891 rows x 2 columns]